/* Navbar Container */
.nav-container {
  background-color: #820ae333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  margin-bottom: 100px;
}

/* Main Container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 60px;
}

/* Left Section: Logo and Game Title */
.log-head-container {
  display: flex;
  align-items: center;
}

.log-heading {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 600;
}

/* Center Section: Timer */
.timer-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-text {
  margin: 0;
  font-weight: 700;
}

/* Right Section: Score, Top Score, and How to Play Button */
.right-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Score-container {
  display: flex;
  gap: 10px;
}

.Score-text {
  margin: 0;
  font-weight: 700;
}

.how-to-play-button {
  background-image: radial-gradient(circle at top left, #9796f0, #fbc7d4);
  color: white;
  border: 1px solid #0e0e0f;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.how-to-play-button:hover {
  background-image: radial-gradient(circle at top left, #a2a1f4, #fab7c8);
}

/* Instructions Popup */
.instructions {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #f9f9f9;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0 20px;
  }

  .right-container {
    flex-direction: column;
    gap: 10px;
  }

  .instructions {
    top: 120px;
    right: 10px;
  }
}
